/* =========================
   NAVBAR
========================= */

.navbar {
  height: 90px;
  width: 100%;
  padding: 0 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #222;
  position: relative;
  z-index: 10;
}

.logo {
  font-size: 28px;
  font-weight: 900;
  letter-spacing: -2px;
}

.logo span {
  color: #d4af37;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #aaa;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #d4af37;
}

.nav-button {
  border: 1px solid #d4af37;
  padding: 12px 22px;
  color: #d4af37;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
}

.nav-button:hover {
  background: #d4af37;
  color: #000;
}

@media (max-width: 900px) {
  .nav-links {
    display: none;
  }
}

@media (max-width: 600px) {
  .navbar {
    padding: 0 5%;
  }

  .nav-button {
    display: none;
  }
}